<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

    <title>Book 입니다.</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">책과 영화정보</a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
         <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="{{url_for('bookname.namesearch')}}">책이름 검색</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{url_for('author.authorsearch')}}">작가 검색</a>
            </li>
             <li class="nav-item ">
                <a class="nav-link" href="{{url_for('movie.movieinfo')}}">영화 정보</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{url_for('movie.movieranking')}}">영화 순위</a>
            </li>
             <li class="nav-item ">
                <a class="nav-link" href="{{url_for('shopping.buysearch')}}">상품 검색</a>
            </li>
             <li class="nav-item ">
                <a class="nav-link" href="{{url_for('chatbot.chatbot')}}">책 챗봇</a>
            </li>
              <li class="nav-item ">
                <a class="nav-link" href="{{url_for('moviechat.moviechat')}}">영화 챗봇</a>
            </li>
             <li class="nav-item ">
                <a class="nav-link" href="{{url_for('weatherchat.weatherchat')}}">날씨 챗봇</a>
            </li>
             <li class="nav-item ">
                <a class="nav-link" href="{{url_for('trotchat.trotchat')}}">미스터트롯 투표 챗봇</a>
            </li>
             <li class="nav-item ">
                <a class="nav-link" href="{{url_for('helpbot.helpchat')}}">사이트 도우미</a>
            </li>
        </ul>
    </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>