{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css')}}">

<div class="container">
    <h5 class="my-3 border-button pb-2">주소</h5>
    <form method="post" class="post-form my-3">
        {{ form.csrf_token }}
        {{ form.content.label }}
        {{ form.content(class="form-control") }}
    <input type="hidden" name="title" value={{title}}>
                <input type="hidden" name="lprice" value={{lprice}}>
        <button type="submit" class="btn btn-primary my-2">입력</button>
    </form>
</div>

{% endblock %}